# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Environment files
.env

# Virtual environment
venv/

# Distribution / build files
build/
dist/
*.egg
*.egg-info

# IDE-specific files
.idea/
.vscode/